@import url("https://fonts.googleapis.com/css2?family=Fredoka&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fredoka+One&display=swap");

body {
  margin: 0;
  font-family: "Fredoka One" !important;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
::-webkit-scrollbar-thumb {
  background: linear-gradient(0deg, #4e2331, #4e2331), #93727d;
  border-radius: 50px;
}
::-webkit-scrollbar {
  width: 10px;
}
