

:root {
  --signin-hero-input-width: 385px;
}

.signin-hero {
  margin-left: 25px;
  margin-top: 89px;
  background-color: hsla(0, 0%, 0%, .05);
  width: 505px;
  padding: 30px;
  display: flex;
  justify-content: center;
  border-radius: 30px;
  border: 1px solid #ececec;
  backdrop-filter: blur(15px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.10);
  h1 {
    margin: 0px;
    width: 300px;
    font-size: 50px;
    font-weight: 400;
    color: #450016;
  }
  form {
    width: 395px;
  }
}

.signin-hero-input {
  width: var(--signin-hero-input-width);
  height: 74px;
  margin: 25px 4px;
  background-color: #aaaaaa1a;
  border: 3px solid rgb(204, 204, 204);
  border-radius: 15px;
  padding: 10px;
  font-size: 20px;
}

.signin-hero-input:focus, .signin-hero-button:focus{
  outline: none;
}

.signin-hero-button {
  border-radius: 15px;
  border: none;
  height: 74px;
  width: calc((var(--signin-hero-input-width) / 2) - 28.5px);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  color: white;
  font-size: 20px;
}

.get-started {
  background-color: #fe93ab;
  margin: 25px 28.5px 25px 4px;
}

.get-started:hover {
  transition: ease-in-out 0.1s;
  background-color: rgb(255, 183, 199)
}

.demo {
  background-color: #450016;
  margin: 25px 4px 25px 28.5px;
}

.demo:hover {
  background-color: #5e3643;
}

