.main-circle-1{
  position: absolute;
  top: 0px;
  height: 100vh;
  width: 850px;
  z-index: -1;
  left:  calc(100vw - 850px);
}

.main-circle-2{
  position: absolute;
  top: 0px;
  left: 0px;
  z-index: -1;

}

.main-circle-3{
  position: absolute;
  top: calc(100vh - 155px);
  z-index: -1;
  left:  calc(0vw + 100px);
}

.main-circle-4{
  position: absolute;
  top: calc(100vh - 300px);
  z-index: -1;
  left:  calc(0vw + 600px);
}

.main-circle-5{
  position: absolute;
  top: calc(0vh + 250px);
  z-index: -1;
  left:  calc(0vw + 550px);
}

.main-circle-6{
  position: absolute;
  top: calc(0vh + 350px);
  z-index: -1;
  left:  calc(0vw + 200px);
}

.main-circle-7{
  position: absolute;
  top: calc(100vh - 500px);
  z-index: -1;
  left:  calc(0vw + 350px);
}

.main-circle-8{
  position: absolute;
  top: calc(100vh - 500px);
  z-index: -1;
  left:  calc(0vw + 50px);
}

.main-circle-9{
  position: absolute;
  top: calc(100vh - 500px);
  z-index: -1;
  left:  calc(100vw - 130px);
}